<style>

body{
	margin:3em;
}

div{
	display: block;
}
.command{
	margin: 3em;
}

.right{
	float:right;
}

.compact{
	/*border-left:26px;
	border-right:26px;*/
	max-width: 400px;
	/*.text-align: center;*/
	margin:20px auto;
}

p{
	margin:3em;
}

form{
	margin:3em;
}

textarea{
	margin:3em;
}

a{
	margin:3em;
}

#start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
}

#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    /*padding: 15px;*/
    text-align: left;
    min-height: 50px;
}

</style>